.moda th {
    background-color: #BB86FC;
}

.casa th {
    background-color: #00C4B4;
}

.tabela {
    color: #FFFFFF;
}

.tabela td {
    background-color: #424250;
}

.tabela td, .tabela th {
    padding: 10px;
}